@zdp-pim:registry=https://pkgs.dev.azure.com/ZDP-DEV/ZDP-PIM/_packaging/npmpackages/npm/registry/ 
always-auth=true
; begin auth token
pkgs.dev.azure.com/ZDP-DEV/ZDP-PIM/_packaging/npmpackages/npm/registry/:username=ZDP-DEV
pkgs.dev.azure.com/ZDP-DEV/ZDP-PIM/_packaging/npmpackages/npm/registry/:_password=OE5JeVQzaUluclNOaTJ1UUltcEhzWU9YMXpmTWgyaXJYVm1SYVVuY3YwUUM5ZTRuOTVndEpRUUo5OUJCQUNBQUFBQWtlY2lpQUFBU0FaRE8xb1Aw
//pkgs.dev.azure.com/ZDP-DEV/ZDP-PIM/_packaging/npmpackages/npm/registry/:email=npm requires email to be set but doesn't use the value
pkgs.dev.azure.com/ZDP-DEV/ZDP-PIM/_packaging/npmpackages/npm/:username=ZDP-DEV
pkgs.dev.azure.com/ZDP-DEV/ZDP-PIM/_packaging/npmpackages/npm/:_password=OE5JeVQzaUluclNOaTJ1UUltcEhzWU9YMXpmTWgyaXJYVm1SYVVuY3YwUUM5ZTRuOTVndEpRUUo5OUJCQUNBQUFBQWtlY2lpQUFBU0FaRE8xb1Aw
//pkgs.dev.azure.com/ZDP-DEV/ZDP-PIM/_packaging/npmpackages/npm/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/ZDP-DEV/ZDP-PIM/_packaging/npmpackages/npm/registry/:username=VssSessionToken
; This is an unencrypted authentication token. Treat it like a password. DO NOT share this value with anyone, including Microsoft support.
//pkgs.dev.azure.com/ZDP-DEV/ZDP-PIM/_packaging/npmpackages/npm/registry/:_password=OE5JeVQzaUluclNOaTJ1UUltcEhzWU9YMXpmTWgyaXJYVm1SYVVuY3YwUUM5ZTRuOTVndEpRUUo5OUJCQUNBQUFBQWtlY2lpQUFBU0FaRE8xb1Aw
; end auth token
registry=https://registry.npmjs.org/